body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.container {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(138, 105, 105);
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: rgb(186, 186, 197);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2868ad;
}

#taskList {
    margin-top: 20px;
}

p {
    text-align: center;
}
